<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
            <header>Create new account</header>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {class: "myForm text-center"})) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
              <!-- <%= f.label :email %><br /> -->
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"myInput" %>
            </div>
            <br>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" , class:"myInput"%>
            </div>
            <br>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Re-enter password", class:"myInput" %>
            </div>

            <br>
            <div>
              <%= f.submit "Sign up", class:"butt" %>
            </div>

            <%= render "devise/shared/links" %>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="myRightCtn">
          <div class="box">
            <header>Welcome Back!</header>
            <p>To keep connected with us please login with your  personal info</p>
            <div>
              <%= f.submit "Log in", class:"butt_out" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>










<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-6 left">
        <header>Create new account</header>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {class: "myForm text-center"})) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-floating mb-3">
            <%= f.email_field :email,  placeholder:"abc@gmail.com", class:"form-control", id:"floatingInput" %> 
            <label for="floatingInput"> <i class="fas fa-envelope"></i> Email address</label>
          </div>

          <div class="form-floating mb-3">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" , class:"form-control"%>
            <label for="floatingInput"> <i class="fas fa-lock"></i> Password</label>
          </div>

          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Re-enter password", class:"form-control" %>
            <label for="floatingInput"> <i class="fas fa-lock"></i> Re-enter Password</label>
          </div>

          <div>
            <%= f.submit "Sign up", class:"butt" %>
          </div>
        <%end%>

      </div>

      <div class="col-md-6 right">  
        <div class="box">
          <header>Welcome Back!</header>
          <p>To keep connected with us please login with your  personal info</p>
          <div>
            <button>Log</button>
            <%= f.submit "Log in", class:"butt_out" %>
          </div>
        </div>
      </div>     

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="ocard">
    <div class="orow">
      <div class="col-md-6 left">
        <header>Create new account</header>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {class: "myForm text-center"})) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-floating mb-3">
            <%= f.email_field :email,  placeholder:"abc@gmail.com", class:"form-control", id:"floatingInput" %> 
            <label for="floatingInput"> <i class="fas fa-envelope"></i> Email address</label>
          </div>

          <div class="form-floating mb-3">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" , class:"form-control"%>
            <label for="floatingInput"> <i class="fas fa-lock"></i> Password</label>
          </div>

          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Re-enter password", class:"form-control" %>
            <label for="floatingInput"> <i class="fas fa-lock"></i> Re-enter Password</label>
          </div>

          <div>
            <%= f.submit "Sign up", class:"butt" %>
          </div>
        <%end%>

      </div>

      <div class="col-md-6 right">  
        <div class="box">
          <header>Welcome Back!</header>
          <p>To keep connected with us please login with your  personal info</p>
          <div>
            <button>Log</button>            
          </div>
        </div>
      </div>     

      </div>
    </div>
  </div>
</div>