<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
            <header>Create new account</header>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {class: "myForm text-center"})) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <i class="fas fa-envelope"></i>
              <!-- <%= f.label :email %><br /> -->
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"myInput" %>
            </div>
            <br>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" , class:"myInput"%>
            </div>
            <br>
            <div class="form-group">
              <i class="fas fa-lock"></i>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Re-enter password", class:"myInput" %>
            </div>

            <br>
            <div>
              <%= f.submit "Sign up", class:"butt" %>
            </div>
            

            <%= render "devise/shared/links" %>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="myRightCtn">
          <div class="box">
            <header>Welcome Back!</header>
            <p>To keep connected with us please login with your  personal info</p>
            <div>
              <%= f.submit "Log in", class:"butt_out" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

