
<html>
<head>
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>

      <%= stylesheet_link_tag "loginPage", "data-turbo-track": "reload" %> 

</head>
<body>
    <section style="margin-top: 4rem;">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://i.imgur.com/uNGdWHi.png"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

            <%= form_with(model: price_alert) do |form| %>

            <% if price_alert.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(price_alert.errors.count, "error") %> prohibited this price_alert from being saved:</h2>

                  <ul>
                    <% price_alert.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Edit price alert</p>
              </div>

              <!-- Email input -->

              <div class="form-outline mb-4">
                <%= form.text_field :url, placeholder:"Enter URL", class:"form-control form-control-lg", id:"floatingInput" %>
              </div>

              <div class="form-outline mb-4">
                <%= form.text_area :selector, placeholder:"Enter price selector", class:"form-control form-control-lg", id:"floatingInput" %>
              </div>

              <div class="form-outline mb-4">
                <%= form.text_field :trigger_amount , placeholder:"Trigger amount", class:"form-control form-control-lg", id:"floatingInput"%>
              </div>

              <div class="form-outline mb-4">
                <%= form.text_field :title , placeholder:"Title", class:"form-control form-control-lg", id:"floatingInput"%>
              </div>

              <div class="form-outline mb-4">
                <%= form.text_field :descriptionselector , placeholder:"Description selector", class:"form-control form-control-lg", id:"floatingInput"%>
              </div>

              <div class="form-outline mb-4">
                <%= form.text_field :image, placeholder:"Image address", class:"form-control form-control-lg", id:"floatingInput" %>
              </div>

              

              

              <div class="text-center text-lg-start mt-4 pt-2">
                <%= form.submit "Submit" , class: "btn btn-warning btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;"%>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </section>
</body>
</html>


