<<<<<<< HEAD
 <div class="banner">
     <div class="app-text">
         <h3>Just in few clicks</h3>
         <h1>Easy <br>web scrapping</h1>
         <p>
            A powerful web scraping tool.<br> Quickly scrape web data without coding
         </p>

         <div class="btn-group">
            <% if current_user %>
                <div class="play-btn">
                     <div class="play-btn-inner">
                         <i class="fa fa-play"></i>
                     </div>
                     <span>Start web scrapping</span>
                 </div>
            <%else%>
                <div class="signup-btn">Sign up now</div> 

                <div class="play-btn">
                    <div class="play-btn-inner">
                       <i class="fa fa-play"></i>
                     </div>
                    <span>Start web scrapping</span>
                </div>
            <% end %>
         </div>
     </div>
     <div class="app-picture">
         <%= image_tag("10.jpg", {}) %>
     </div>
 </div>

 <div class="about-services">
     <ul>
         <li>
             <%= image_tag("1.png", {}) %>
             <h1>Schedule Scraping</h1>
             <p>Schedule tasks to scrape at any specific time, hourly, daily, weekly...</p>
         </li>
         <li>
             <%= image_tag("2.png", {}) %>
             <h1>Competitor Analysis</h1>
             <p>Monitor your competitor's products online.</p>
         </li>
         <li>
            <%= image_tag("3.png", {}) %>
             <h1>Easy to Use</h1>
             <p>Scrape all data with simple steps. No coding needed.</p>
         </li>
     </ul>
 </div>

 <div class="social-icons">
     <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
     </ul>
 </div>
</div>
=======
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Scrapper</title>
	<%= stylesheet_link_tag "home.css" %>
</head>
<body>
	<div>
		<div class="ocontent">
			<h1>Web Scrapper</h1>
			<p>Making web data extraction<br> easy and accessible for everyone </p>
			<div>
				<button type="button"> <span></span> Watch more</button>
				<button type="button"> <span></span> Subscribe</button>
			</div>
		</div>
	</div>
</body>
</html>
>>>>>>> 5576062fa92e7b89c6624b05da2fa67c5abbd126
