<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <header>Log in</header>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <!-- <%= f.label :email %><br /> -->
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"myInput", placeholder:"Email" %>
            </div>
            <br>

            <div class="field">
              <!-- <%= f.label :password %><br /> -->
              <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class:"myInput" %>
            </div>
            <br>

            <% if devise_mapping.rememberable? %>
              <div class="field form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            
            <br>

            <div class="actions">
              <%= f.submit "Log in" , class:"butt" %>
            </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="myRightCtn">
          <div class="box">
            <header>Hi there!</header>
            <p>Enter your personal details and start journey with us</p>
            <div class="actions">
              <%= f.submit "Sign up", class:"butt_out" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


